{% extends "layout.html" %}

{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}

<div class="container" id="app">

  <div class="row">
    <div class="col-md-5 col-md-offset-1">
        <div class="form-group">
           <div class="input-group date" id="datetimepicker7" data-target-input="nearest">
                <input type="text" class="form-control datetimepicker-input"
                data-target="#datetimepicker7" placeholder="Fra dato"/>
                <span class="input-group-addon" data-target="#datetimepicker7" data-toggle="datetimepicker">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="form-group">
           <div class="input-group date" id="datetimepicker8" data-target-input="nearest">
                <input type="text" class="form-control datetimepicker-input"
                data-target="#datetimepicker8"  placeholder="Til dato"/>
                <span class="input-group-addon" data-target="#datetimepicker8" data-toggle="datetimepicker">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
  </div>

  
    <div class="row">
        <div class="col-md-4 col-md-push-8">
            <div class="well">
                what is this?

            </div>
        </div>
        <div class="col-md-8 col-md-pull-4">
            <table id="money_table" class="table table-bordered table-condensed">
                <tr><th>Dato</th><th>Konto</th><th>Beskrivelse</th><th>Kategorier</th><th>Bel&oslash;b</th><th>Saldo efter</th></tr>
                
                <tr is="money-line" v-for="linie in linier" v-bind:linie="linie" :key="linie.Id" v-on:selected="setSelected"> </tr>
            </table>
        </div>
    </div>
    <div class="modal fade bs-example-modal-lg" tabindex="-1" id="editModal" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Modal title</h4>
                </div>
                <div class="modal-body">
                    <money-line-edit :linie="selected" :kategorier="kategorier"></money-line-edit>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>


</div>

                {% raw %}
<template id="money_line">
    <tr class="linie" v-on:click="setSelected">
        <td>{{linie.Dato}}</td>
        <td>{{linie.Konto}}</td>
        <td>{{linie.Beskrivelse}}</td>

        <td>&nbsp;</td>
        <td class="text-right">{{(linie.Beloeb / 100).toFixed(2)}} kr.</td>
        <td>&nbsp;</td>
    </tr>
</template>

<template id="money_line_edit">
    <div v-if="linie">
        <h1 >{{linie.Beskrivelse}}</h1>
        <table id="money_table" class="table table-bordered table-condensed">
            <tr><th>Kategori</th><th>Bel&oslash;b</th><th>Kommentar</th><th>&nbsp;</th></tr>
            <tr v-for="kategori in kategori_linier">
                <td>{{kategori.Kategori}}</td>
                <td><input v-model="kategori.Beloeb" ></td>
                <td><input v-model="kategori.Tekst" placeholder="kommentar"></td>
                <th>&nbsp;</th>
            </tr>

            <tr >
                <td><input v-model="ny_kategori" placeholder="Ny kategori"></td>
                <td><input v-model="ny_beloeb"></td>
                <td><input v-model="ny_tekst" placeholder="kommentar"></td>
                <td><button class="btn btn-sm" v-on:click="tilfoejKategori">Tilf&oslash;j kategori</button></td>
            </tr>
            <tr>
                <td>Saldo</td>
                <td>{{saldo}}</td>
                <td>{{saldo_beskrivelse}}</td>
                <td>{{(saldo / 100).toFixed(2)}} kr.</td>
            </tr>
        </table>
    </div>
</template>
                    {% endraw %}

{% endblock %}
{% block script %}
<script type="text/javascript">
    Vue.component('money-line',  {
        template: '#money_line',
        props: ["linie"],
        methods: {
            setSelected: function () { this.$emit('selected', this.linie.Id) }
        }
    });

    Vue.component('money-line-edit', {
        template: '#money_line_edit',
        props: ['linie', 'kategorier'],
        data: function () {
            return {
                kategori_linier: [],//this.linie.Kategorier,
                beloeb: this.linie.Beloeb,
                ny_kategori: null,
                ny_beloeb: null,
                ny_tekst: null,
            }
        },
        computed: {
            saldo: function () {
                var saldo = 0;
                for (var i in this.kategori_linier) {
                    var beloeb =  parseInt( this.kategori_linier[i].Beloeb,10);
                    if (! isNaN(beloeb)) {
                        saldo = saldo + beloeb;
                    }
                }
                return saldo;
            },
            saldo_beskrivelse: function () {
                if (this.saldo > this.linie.Beloeb) {
                    return "(For stort)";
                }
                if (this.saldo < this.linie.Beloeb) {
                    return "(For lille)";
                }
                return "";

            }
        },
        watch: {
            'linie': function (a, b, c) {
                this.update_kategorilinier();
            }
        },
        methods: {
            tilfoejKategori: function () {
                //console.log(this.ny_kategori);
                //console.log(this.ny_beloeb);
                //console.log(this.ny_tekst);
                this.kategorier.push(this.ny_kategori);
                this.linie.Kategorier.push({ Kategori: this.ny_kategori, Beloeb: this.ny_beloeb, Tekst: this.ny_tekst });
                this.update_kategorilinier();
                
                this.ny_kategori = this.ny_beloeb = this.ny_tekst = null;
            },
            update_kategorilinier: function () {
                this.kategori_linier = [];
                for (var i in this.kategorier) {
                    var kat = this.kategorier[i];
                    var matching = this.linie.Kategorier.filter(l => l.Kategori === kat);
                    if (matching[0]) {

                        this.kategori_linier.push({ Kategori: kat, Beloeb: matching[0].Beloeb, Tekst: matching[0].Tekst });
                    } else {
                        this.kategori_linier.push({ Kategori: kat, Beloeb: null, Tekst: null });
                    }
                }
            }
        }
    })
    var konto = {
        'kategorier': ['Mad','Soren','Merete','Dyrene'],
        'linier': [
            {
                'Id': 1,
                'Dato': '1/2-2017',
                'Beloeb': 65000, //oerer
                'Beskrivelse': 'Kvickly',
                'Konto': 'Lonkonto',
                'Kategorier': [
                    { 'Kategori': 'Mad', 'Beloeb': 45000, 'Tekst': '' },
                    { 'Kategori': 'Soren', 'Beloeb': 20000, 'Tekst': 'Stuff' },
                ],
            },
            {
                'Id': 2,
                'Dato': '2/2-2017',
                'Beloeb': 7500, //oerer
                'Beskrivelse': 'Brugsen Sulsted',
                'Konto': 'Lonkonto',
                'Kategorier': [
                    { 'Kategori': 'Mad', 'Beloeb': 7500, 'Tekst': '' }
                ]
            },
            {
                'Id': 3,
                'Dato': '3/2-2017',
                'Beloeb': 50000, //oerer
                'Beskrivelse': 'Ebay seller',
                'Konto': 'Lonkonto',
                'Kategorier': [
                    { 'Kategori': 'Soren', 'Beloeb': 50000, 'Tekst': 'webcam' }
                ]
            },
        ],
        'selected': {}
    };
    var app = new Vue({
        el: '#app',//'#money_table',
        data: konto,
        methods: {
            setSelected: function (id) {
                var filtered = this.linier.filter(item => item.Id == id)
                this.selected = filtered[0];
                $('#editModal').modal('show');
            }
        }
    });

</script>
{% endblock %}

<tr v-bind:class="'active collapse collapse' + linie.Id" v-for="kategori in linie.Kategorier">
    <td>&nbsp;</td>
    <td></td>
    <td>
        <select class="form-control" v-model="kategori.Kategori">
            <option>(Tom)</option>
            <option v-for="kategori in kategorier" v-bind:value="kategori">{{kategori}}</option>
        </select>

    </td>
    <td class="text-right">
        <input type="number" class="form-control
						      text-right
						      kategori_beloeb"
               placeholder="Bel&oslash;b"
               v-bind:value="(kategori.Beloeb /
					       100).toFixed(2)" step="0.01">
    </td>
    <td>{{kategori.Tekst}}</td>
</tr>

<tr v-bind:class="'active collapse collapse' + linie.Id">
    <td>&nbsp;</td>
    <td>V&aelig;lg kategori</td>
    <td>
        <select class="form-control">
            <option>(Tom)</option>
            <option v-for="kategori in kategorier" v-bind:value="kategori">{{kategori}}</option>
        </select>

    </td>
    <td class="text-right">
        <input type="number" class="form-control
						      text-right
						      kategori_beloeb"
               placeholder="Bel&oslash;b">

    </td>
    <td>
        <button type="button" class="btn btn-default btn-sm"><p class="glyphicon glyphicon-plus"></p>Tilf&oslash;j</button>
    </td>

</tr>

<tr v-bind:class="'info collapse collapse' + linie.Id">
    <td>&nbsp;</td>
    <td>Rest</td>
    <td class="kategori_total">Bel&oslash;b</td>
    <td>&nbsp;</td>
    <td>
        <button class="btn btn-primary btn-sm">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Gem kategorier
        </button>
    </td>

</tr>