{% extends "layout.html" %}

{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}

<div class="container">

  <div class="row">
    <div class="col-md-5 col-md-offset-1">
        <div class="form-group">
           <div class="input-group date" id="datetimepicker7" data-target-input="nearest">
                <input type="text" class="form-control datetimepicker-input"
                data-target="#datetimepicker7" placeholder="Fra dato"/>
                <span class="input-group-addon" data-target="#datetimepicker7" data-toggle="datetimepicker">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="form-group">
           <div class="input-group date" id="datetimepicker8" data-target-input="nearest">
                <input type="text" class="form-control datetimepicker-input"
                data-target="#datetimepicker8"  placeholder="Til dato"/>
                <span class="input-group-addon" data-target="#datetimepicker8" data-toggle="datetimepicker">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
  </div>

  
    <div class="row">
        <div class="col-md-4 col-md-push-8">
            <div class="well">
                what is this?
            </div>
        </div>
        <div class="col-md-8 col-md-pull-4">
            <table id="money_table" class="table table-bordered table-condensed">
                <tr><th>Dato</th><th>Beskrivelse</th><th>Kategorier</th><th>Bel&oslash;b</th><th>Saldo efter</th></tr>
                {% raw %}
                <template v-for="linie in linier">
                    <tr class="linie">
                        <td>{{linie.Dato}}</td>
                        <td>{{linie.Beskrivelse}}</td>

                        <td><a data-toggle="collapse" v-bind:data-target="'.collapse' + linie.Id">--Kategorier--<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a></td>
                        <td class="text-right">{{(linie.Beloeb / 100).toFixed(2)}} kr.</td>
                        <td>&nbsp;</td>
                    </tr>

                    <tr v-bind:class="'active collapse collapse' + linie.Id" v-for="kategori in linie.Kategorier">
                        <td>&nbsp;</td>
                        <td></td>
                        <td>
                            <select class="form-control" v-model="kategori.Kategori">
                                <option>(Tom)</option>
                                <option v-for="kategori in kategorier" v-bind:value="kategori" >{{kategori}}</option>
                            </select>

                        </td>
                        <td class="text-right">
			  <input type="number" class="form-control
						      text-right
						      kategori_beloeb"
				 placeholder="Bel&oslash;b"
				 v-bind:value="(kategori.Beloeb /
					       100).toFixed(2)" step="0.01">
			  </td> 
                        <td>{{kategori.Tekst}}</td>
                    </tr>

		    <tr v-bind:class="'active collapse collapse' + linie.Id">
                        <td>&nbsp;</td>
                        <td>V&aelig;lg kategori</td>
                        <td>
                            <select class="form-control" >
                                <option>(Tom)</option>
                                <option v-for="kategori in kategorier" v-bind:value="kategori" >{{kategori}}</option>
                            </select>

                        </td>
                        <td class="text-right">
			  <input type="number" class="form-control
						      text-right
						      kategori_beloeb"
				 placeholder="Bel&oslash;b">

			  </td>
                        <td>
			  <button type="button" class="btn btn-default btn-sm"><p class="glyphicon glyphicon-plus"></p>Tilf&oslash;j</button>
			</td>

		    </tr>
		    
                    <tr v-bind:class="'info collapse collapse' + linie.Id">
                        <td>&nbsp;</td>
                        <td>Rest</td>
                        <td class="kategori_total">Bel&oslash;b</td>
                        <td>&nbsp;</td>
                        <td>
                            <button class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Gem kategorier
                            </button>
                        </td>

                    </tr>

                </template>
                    {% endraw %}

            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
    var konto = {
        'kategorier': ['Mad','Soren','Merete','Dyrene'],
        'linier': [
            {
                'Id': 1,
                'Dato': '1/2-2017',
                'Beloeb': 65000, //oerer
                'Beskrivelse': 'Kvickly',
                'Kategorier': [
                    { 'Kategori': 'Mad', 'Beloeb': 45000, 'Tekst': '' },
                    { 'Kategori': 'Soren', 'Beloeb': 20000, 'Tekst': 'Stuff' },
                ],
            },
            {
                'Id': 2,
                'Dato': '2/2-2017',
                'Beloeb': 7500, //oerer
                'Beskrivelse': 'Brugsen Sulsted',
                'Kategorier': [
                    { 'Kategori': 'Mad', 'Beloeb': 7500, 'Tekst': '' }
                ]
            },
            {
                'Id': 3,
                'Dato': '3/2-2017',
                'Beloeb': 50000, //oerer
                'Beskrivelse': 'Ebay seller',
                'Kategorier': [
                    { 'Kategori': 'Soren', 'Beloeb': 50000, 'Tekst': 'webcam' }
                ]
            },
        ]
    };
    var app = new Vue({
        el: '#money_table',
        data: konto
    });
    /*
    $(function () {
        console.log("ready!");
        $('#datetimepicker7').datetimepicker(
        {
            format: "L",
            locale: "da"
        });
        $('#datetimepicker8').datetimepicker({
            useCurrent: false,
            format: "L",
            locale: "da"
        });
        $("#datetimepicker7").on("dp.change", function (e) {
            $('#datetimepicker8').data("DateTimePicker").minDate(e.date);
        });
        $("#datetimepicker8").on("dp.change", function (e) {
            $('#datetimepicker7').data("DateTimePicker").maxDate(e.date);
        });
    });
    */
</script>
{% endblock %}
